In [1]:
##Clear the environment
rm(list=ls())

##Turn off scientific notations for numbers
options(scipen = 999)  

##Set locale
Sys.setlocale("LC_ALL", "English") 

##Set seed for reproducibility
set.seed(2345)

# Turn off warnings
options(warn = -1)

getstats <- function(cm){
  # Sensititvity a.k.a TPR
  tpr <-cm[2,2]/(cm[2,2]+cm[2,1])
  fpr <-cm[1,2]/(cm[1,2]+cm[1,1])
  
  # Specificity a.k.a. TNR
  tnr <- cm[1,1]/(cm[1,1]+cm[1,2])
  fnr <- cm[2,1]/(cm[2,1]+cm[2,2])
  
  # Calculate accuracy
  acc <-(cm[2,2]+cm[1,1])/sum(cm)
  err <-(cm[1,2]+cm[2,1])/sum(cm)
  
  #Precision - Positive Predictive Value
  ppv <- cm[2,2]/(cm[2,2]+cm[1,2])
  
  # Negative Predictive Value
  npv <- cm[1,1]/(cm[1,1]+cm[2,1])
  
  rbind(TruePos_Sensitivity=tpr, FalsePos=fpr, TrueNeg_Specificty=tnr, FalseNeg=fnr, PositivePredictiveValue=ppv, NegativePredictiveValue=npv, Accuracy = acc, Error = err)
}

# clean the data names and data
# Use: df<-cleanit(df)
cleanit <-function(df){
  names(df) <-tolower(names(df))
  names(df) <- gsub("\\(","",names(df))
  names(df) <- gsub("\\)","",names(df))
  names(df) <- gsub("\\.","",names(df))
  names(df) <- gsub("_","",names(df))
  names(df) <- gsub("-","",names(df))
  names(df) <- gsub(",","",names(df))
  return(df)
}

[1] "LC_COLLATE=English_United States.1252;LC_CTYPE=English_United States.1252;LC_MONETARY=English_United States.1252;LC_NUMERIC=C;LC_TIME=English_United States.1252"

In [8]:
bike <- read.csv("D:/Data/BikeData.csv")

In [9]:
summary(bike)

    user_id         age        gender    student          employed
 Min.   :  1   Min.   :22.00   F:31   Min.   :0.0000   Min.   :0.0000
 1st Qu.: 31   1st Qu.:29.00   M:90   1st Qu.:0.0000   1st Qu.:1.0000
 Median : 61   Median :36.00          Median :0.0000   Median :1.0000
 Mean   : 61   Mean   :36.45          Mean   :0.1157   Mean   :0.9008
 3rd Qu.: 91   3rd Qu.:42.00          3rd Qu.:0.0000   3rd Qu.:1.0000
 Max.   :121   Max.   :63.00          Max.   :1.0000   Max.   :1.0000
                    cyc_freq     distance           time           speed
 Daily                  :47   Min.   : 0.520   Min.   : 3.00   Min.   : 4.29
 Less than once a month : 2   1st Qu.: 3.220   1st Qu.:15.00   1st Qu.:11.87
 Several times per month:14   Median : 5.590   Median :24.00   Median :13.60
 Several times per week :58   Mean   : 5.991   Mean   :25.73   Mean   :14.05
                              3rd Qu.: 8.310   3rd Qu.:37.00   3rd Qu.:15.65
                              Max.   :13.950   Max.   :55.00   Max.   :30.84

In [6]:
#library(SDSFoundations)

ERROR: Error in library(SDSFoundations): there is no package called 'SDSFoundations'

In [11]:
head(bike,10)

   user_id age gender student employed                cyc_freq distance time
1        1  28      M       1        1                   Daily     3.25   15
2        2  35      M       0        1                   Daily     1.11    5
3        3  28      M       0        1                   Daily     5.59   23
4        4  44      F       0        1  Less than once a month     3.24   24
5        5  42      M       0        1  Several times per week     7.81   26
6        6  36      M       0        1  Several times per week     3.00   20
7        7  45      M       0        1  Several times per week    13.03   51
8        8  54      M       0        1  Several times per week     6.21   39
9        9  39      M       0        1  Several times per week    13.95   50
10      10  44      M       0        0 Several times per month     7.40   44
   speed
1  13.00
2  13.32
3  14.58
4   8.10
5  18.02
6   9.00
7  15.33
8   9.55
9  16.74
10 10.09

In [12]:
# Find the number of students in the dataset
table(bike$student)

# Pull out student data into a new dataframe
student <-bike[bike$student==1,]

# Find how often the students ride, using the new dataframe
table(student$cyc_freq)

# Create a vector for the distance variable
distance <-student$distance

# Find average distance ridden
mean(distance)

  0   1
107  14

                  Daily  Less than once a month Several times per month
                      8                       0                       0
 Several times per week
                      6

[1] 6.257857

In [15]:
#Read in the dataset and name it bike
#bike<-BikeData
#Create a vector of the times
rider_times<-bike$time
#Check the contents of our rider_times vector
rider_times

  [1] 15  5 23 24 26 20 51 39 50 44 20 27 23 15 34 40 45 40 28 12 21 21 17 19 10
 [26] 31  6 26 22 32  6 21 50 35  5 20  7 35 25 15 11 38 18 22 23 36 18 19 41 26
 [51] 25  4  9 34 14 23 18 16 22 12 51 38  5 43  8 35 15 14 31 55 23 36 37 41 21
 [76] 24 40 17 31 37 28 10 11 35 10  4 38 29 21 16 13  5  3 14 21 49 15 12 45 15
[101] 50 32 37 41  6 43 41 35 27 27 26 36  4 25 42 14 40 42 48 26 41

In [16]:
# Find the number of students in the dataset
table(bike$student)

# Pull out student data into a new dataframe
student <-bike[bike$student==1,]

# Find how often the students ride, using the new dataframe
table(student$cyc_freq)

# Create a vector for the distance variable
distance <-student$distance

# Find average distance ridden
mean(distance)

  0   1
107  14

                  Daily  Less than once a month Several times per month
                      8                       0                       0
 Several times per week
                      6

[1] 6.257857

In [19]:
str(bike)

'data.frame':	121 obs. of  9 variables:
 $ user_id : int  1 2 3 4 5 6 7 8 9 10 ...
 $ age     : int  28 35 28 44 42 36 45 54 39 44 ...
 $ gender  : Factor w/ 2 levels "F","M": 2 2 2 1 2 2 2 2 2 2 ...
 $ student : int  1 0 0 0 0 0 0 0 0 0 ...
 $ employed: int  1 1 1 1 1 1 1 1 1 0 ...
 $ cyc_freq: Factor w/ 4 levels "Daily","Less than once a month",..: 1 1 1 2 4 4 4 4 4 3 ...
 $ distance: num  3.25 1.11 5.59 3.24 7.81 ...
 $ time    : int  15 5 23 24 26 20 51 39 50 44 ...
 $ speed   : num  13 13.3 14.6 8.1 18 ...

In [26]:
# Find the number of students in the dataset
table(bike$cyc_freq)

# Pull out student data into a new dataframe
student <-bike[bike$cyc_freq=="Daily",]

# Find how often the students ride, using the new dataframe
table(student$gender)

# Create a vector for the distance variable
distance <-student$distance

# Find average distance ridden
table(student$age)

aggregate(age~gender, student, mean )

                  Daily  Less than once a month Several times per month
                     47                       2                      14
 Several times per week
                     58

 F  M
 9 38

22 23 24 25 26 27 28 29 30 32 33 34 35 36 37 38 39 41 42 43 44 46 51 54
 1  1  1  2  3  2  3  4  2  4  2  3  2  4  2  1  1  1  1  2  1  2  1  1

  gender      age
1      F 32.55556
2      M 33.92105

In [28]:
thirty <- student[student$age >= 30,]

In [30]:
table(thirty$gender)

 F  M
 5 25

In [31]:
mean(student$age)

[1] 33.65957