In [61]:
##Clear the environment
rm(list=ls())

##Turn off scientific notations for numbers
options(scipen = 999)  

##Set locale
Sys.setlocale("LC_ALL", "English") 

##Set seed for reproducibility
set.seed(2345)

# Turn off warnings
options(warn = -1)

getstats <- function(cm){
  # Sensititvity a.k.a TPR
  tpr <-cm[2,2]/(cm[2,2]+cm[2,1])
  fpr <-cm[1,2]/(cm[1,2]+cm[1,1])
  
  # Specificity a.k.a. TNR
  tnr <- cm[1,1]/(cm[1,1]+cm[1,2])
  fnr <- cm[2,1]/(cm[2,1]+cm[2,2])
  
  # Calculate accuracy
  acc <-(cm[2,2]+cm[1,1])/sum(cm)
  err <-(cm[1,2]+cm[2,1])/sum(cm)
  
  #Precision - Positive Predictive Value
  ppv <- cm[2,2]/(cm[2,2]+cm[1,2])
  
  # Negative Predictive Value
  npv <- cm[1,1]/(cm[1,1]+cm[2,1])
  
  rbind(TruePos_Sensitivity=tpr, FalsePos=fpr, TrueNeg_Specificty=tnr, FalseNeg=fnr, PositivePredictiveValue=ppv, NegativePredictiveValue=npv, Accuracy = acc, Error = err)
}

# clean the data names and data
# Use: df<-cleanit(df)
cleanit <-function(df){
  names(df) <-tolower(names(df))
  names(df) <- gsub("\\(","",names(df))
  names(df) <- gsub("\\)","",names(df))
  names(df) <- gsub("\\.","",names(df))
  names(df) <- gsub("_","",names(df))
  names(df) <- gsub("-","",names(df))
  names(df) <- gsub(",","",names(df))
  return(df)
}

[1] "LC_COLLATE=English_United States.1252;LC_CTYPE=English_United States.1252;LC_MONETARY=English_United States.1252;LC_NUMERIC=C;LC_TIME=English_United States.1252"

In [62]:
acl <- read.csv("D:/Data/AustinCityLimits.csv")

In [63]:
str(acl)

'data.frame':	116 obs. of  14 variables:
 $ Artist       : Factor w/ 116 levels "Aimee Mann","Alabama Shakes",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Year         : int  2008 2013 2009 2009 2007 2009 2010 2009 2003 2008 ...
 $ Month        : Factor w/ 6 levels "December","February",..: 4 2 3 5 4 4 3 4 3 5 ...
 $ Season       : Factor w/ 2 levels "fall","winter": 1 2 2 1 1 1 2 1 2 1 ...
 $ Gender       : Factor w/ 2 levels "F","M": 1 1 2 2 1 2 2 2 2 1 ...
 $ Age          : int  52 24 75 39 33 62 37 35 43 67 ...
 $ Age.Group    : Factor w/ 4 levels "Fifties or Older",..: 1 4 1 3 3 1 3 3 2 1 ...
 $ Grammy       : Factor w/ 2 levels "N","Y": 2 1 1 1 2 2 1 1 2 1 ...
 $ Genre        : Factor w/ 4 levels "Country","Jazz/Blues",..: 4 3 2 3 3 1 3 3 3 2 ...
 $ BB.wk.top10  : int  0 1 NA 1 1 0 1 NA 1 0 ...
 $ Twitter      : int  101870 73313 308634 56343 404439 3326 125758 8197 158647 690 ...
 $ Twitter.100k : int  1 0 1 0 1 0 1 0 1 0 ...
 $ Facebook     : int  113576 298278 10721 318313 1711685 27321 563505 18955 1381051 1715 ...
 $ Facebook.100k: int  1 1 0 1 1 0 1 0 1 0 ...

In [64]:
acl[acl$Artist=="Allen Toussaint",]

           Artist Year   Month Season Gender Age        Age.Group Grammy
3 Allen Toussaint 2009 January winter      M  75 Fifties or Older      N
       Genre BB.wk.top10 Twitter Twitter.100k Facebook Facebook.100k
3 Jazz/Blues          NA  308634            1    10721             0

In [65]:
head(acl)

               Artist Year    Month Season Gender Age        Age.Group Grammy
1          Aimee Mann 2008 November   fall      F  52 Fifties or Older      Y
2      Alabama Shakes 2013 February winter      F  24         Twenties      N
3     Allen Toussaint 2009  January winter      M  75 Fifties or Older      N
4         Andrew Bird 2009  October   fall      M  39         Thirties      N
5         Arcade Fire 2007 November   fall      F  33         Thirties      Y
6 Asleep at the Wheel 2009 November   fall      M  62 Fifties or Older      Y
              Genre BB.wk.top10 Twitter Twitter.100k Facebook Facebook.100k
1 Singer-Songwriter           0  101870            1   113576             1
2   Rock/Folk/Indie           1   73313            0   298278             1
3        Jazz/Blues          NA  308634            1    10721             0
4   Rock/Folk/Indie           1   56343            0   318313             1
5   Rock/Folk/Indie           1  404439            1  1711685             1
6           Country           0    3326            0    27321             0

Primary Research Questions
1. Are there an equal number of male and female performers on Austin City Limits?
2. Are male performers just as likely to have had a Top 10 hit as female performers?

In [66]:
# Create a table of counts for Gender
gender_tab <-table(acl$Gender)
gender_tab

 F  M
35 81

In [67]:
# Create vector of expected proportions
ExpGender <- c(.50, .50)

In [68]:
# Check expected counts assumption
chisq.test(gender_tab, p=ExpGender)$expected

 F  M
58 58

In [69]:
# Run goodness of fit
chisq.test(gender_tab, p=ExpGender)

	Chi-squared test for given probabilities

data:  gender_tab
X-squared = 18.2414, df = 1, p-value = 0.00001946

In [70]:
# Create two-way table
gender_top10 <-table(acl$Gender, acl$BB.wk.top10)
gender_top10

     0  1
  F 15 18
  M 38 32

In [71]:
# Generate expected counts
chisq.test(gender_top10, correct=FALSE)$expected

           0        1
  F 16.98058 16.01942
  M 36.01942 33.98058

In [72]:
# Run test of independence
chisq.test(gender_top10, correct=FALSE)

	Pearson's Chi-squared test

data:  gender_top10
X-squared = 0.7002, df = 1, p-value = 0.4027

## Lab

Primary Research Question

Are each of the four musical genres equally represented on Austin City Limits?   

Analysis

Goodness of Fit Test:
1. Create a table to show the counts of each genre.
2. Create a vector of expected proportions.
3. Check the expected counts assumption.
4. Run a chi square test.
5. Interpret the chi square statistic and p-value.

In [73]:
# Create a table of counts for Gender
genre_tab <-table(acl$Genre)
genre_tab

          Country        Jazz/Blues   Rock/Folk/Indie Singer-Songwriter
               18                13                68                17

In [74]:
# Create vector of expected proportions
ExpGenre <- c(.25,.25,.25,.25)

In [75]:
# Check expected counts assumption
chisq.test(genre_tab, p=ExpGenre)$expected

          Country        Jazz/Blues   Rock/Folk/Indie Singer-Songwriter
               29                29                29                29

In [76]:
# Run goodness of fit
chisq.test(genre_tab, p=ExpGenre)

	Chi-squared test for given probabilities

data:  genre_tab
X-squared = 70.4138, df = 3, p-value = 0.000000000000003481

Primary Research Question

Are some genres more likely to draw a large (100K+) Twitter following than others?

Analysis

Test of Independence:
1. Create a two-way table for genre and Twitter following.
2. Check the expected counts assumption.
3. Run a chi square test.
4. Interpret the chi square statistic and p-value.

In [77]:
# Create two-way table
genre_twitter <-table(acl$Genre, acl$Twitter.100k)
addmargins(genre_twitter)
margin.table(genre_twitter,1)
margin.table(genre_twitter,2)

                      0   1 Sum
  Country            11   6  17
  Jazz/Blues          9   2  11
  Rock/Folk/Indie    33  26  59
  Singer-Songwriter   6  10  16
  Sum                59  44 103

          Country        Jazz/Blues   Rock/Folk/Indie Singer-Songwriter
               17                11                59                16

 0  1
59 44

In [78]:
addmargins(prop.table(genre_twitter))
margin.table(prop.table(genre_twitter),1) #From total
margin.table(prop.table(genre_twitter),2) #From total

addmargins(prop.table(genre_twitter,1)) #rows
addmargins(prop.table(genre_twitter,2)) #columns

                             0          1        Sum
  Country           0.10679612 0.05825243 0.16504854
  Jazz/Blues        0.08737864 0.01941748 0.10679612
  Rock/Folk/Indie   0.32038835 0.25242718 0.57281553
  Singer-Songwriter 0.05825243 0.09708738 0.15533981
  Sum               0.57281553 0.42718447 1.00000000

          Country        Jazz/Blues   Rock/Folk/Indie Singer-Songwriter
        0.1650485         0.1067961         0.5728155         0.1553398

        0         1
0.5728155 0.4271845

                            0         1       Sum
  Country           0.6470588 0.3529412 1.0000000
  Jazz/Blues        0.8181818 0.1818182 1.0000000
  Rock/Folk/Indie   0.5593220 0.4406780 1.0000000
  Singer-Songwriter 0.3750000 0.6250000 1.0000000
  Sum               2.3995627 1.6004373 4.0000000

                             0          1        Sum
  Country           0.18644068 0.13636364 0.32280431
  Jazz/Blues        0.15254237 0.04545455 0.19799692
  Rock/Folk/Indie   0.55932203 0.59090909 1.15023112
  Singer-Songwriter 0.10169492 0.22727273 0.32896764
  Sum               1.00000000 1.00000000 2.00000000

In [79]:
# Generate expected counts
chisq.test(genre_twitter, correct=FALSE)$expected

                            0         1
  Country            9.737864  7.262136
  Jazz/Blues         6.300971  4.699029
  Rock/Folk/Indie   33.796117 25.203883
  Singer-Songwriter  9.165049  6.834951

In [80]:
# Run test of independence
chisq.test(genre_twitter, correct=FALSE)

	Pearson's Chi-squared test

data:  genre_twitter
X-squared = 5.6919, df = 3, p-value = 0.1276

## Problem Set

You want to know if the proportion of female performers on Austin City Limits Live has changed in the past two years. 

1. Create a new variable in the dataset called "Recent" that is equal to a 1 for rows from years 2012 or 2013 and is equal to 0 for all other rows.

2. Make a table that shows the number of male and female performers in "recent" and non-recent years.

3. Use this data to answer the following questions.

Use the "AustinCityLimits.csv" dataset to answer the following questions.  Instructions for installing "AustinCityLimits.csv" can be found under the Examine the Data unit in this week's Pre-Lab section.

You'll need to use the following code to help:

acl$Recent[acl$Year < 2012] <- 0 

acl$Recent[acl$Year >= 2012] <- 1

In [81]:
acl$Recent[acl$Year < 2012] <- 0 
acl$Recent[acl$Year >= 2012] <- 1

In [82]:
# Create two-way table
gender_recent <-table(acl$Gender, acl$Recent)
addmargins(gender_recent)
margin.table(gender_recent,1)
margin.table(gender_recent,2)

        0   1 Sum
  F    23  12  35
  M    65  16  81
  Sum  88  28 116

 F  M
35 81

 0  1
88 28

In [83]:
# Generate expected counts
chisq.test(gender_recent, correct=FALSE)$expected

           0         1
  F 26.55172  8.448276
  M 61.44828 19.551724

In [84]:
chisq.test(gender_recent, correct=FALSE)

	Pearson's Chi-squared test

data:  gender_recent
X-squared = 2.8188, df = 1, p-value = 0.09317

When crossing white and yellow summer squash, a genetic model predicts that 

75% of resulting offspring will be white, 

15% will be yellow and 

10% will be green. 

Below are the results from an experiment run on a random sample of 205 squash offspring.

Color              White	Yellow	Green

Number of Offspring	152	      39	14

In [89]:
color <-c(152,39,14)

In [90]:
# Create vector of expected proportions
Exp <- c(.75, .15, .10)

In [91]:
# Check expected counts assumption
chisq.test(color, p=Exp)$expected

[1] 153.75  30.75  20.50

In [92]:
chisq.test(color, p=Exp)

	Chi-squared test for given probabilities

data:  color
X-squared = 4.2943, df = 2, p-value = 0.1168

In [98]:
# Find critical value right tail 5% 
qchisq(.95,2)

[1] 5.991465

Approximately 13% of the world's population is left-handed, but is this proportion the same across men and women?

To answer this question, you decide to collect data from a random sample of adults from your neighborhood, with the following results:

In [101]:
gender <-c('m','m','m','m','f','f','f','m','f','f','m','f','m','m','f','m','m','f','f','m','f')
table(gender)

gender
 f  m
10 11

In [102]:
hand <-c('l','r','r','r','r','l','l','r','r','r','l','r','r','r','r','r','r','r','l','r','r')
table(hand)

hand
 l  r
 5 16

In [103]:
gender_hand<-table(gender,hand)

In [104]:
chisq.test(gender_hand, correct=FALSE)$expected

      hand
gender        l        r
     f 2.380952 7.619048
     m 2.619048 8.380952

In [105]:
chisq.test(gender_hand, correct=FALSE)

	Pearson's Chi-squared test

data:  gender_hand
X-squared = 0.4033, df = 1, p-value = 0.5254

In [106]:
# Find critical value right tail 5% 
qchisq(.95,1)

[1] 3.841459

Lets build a data frame with data

A telephone survey asked a random sample of Indiana voters about their home internet usage, as well as what type of community (rural, suburban or urban) they lived in. 

Of the 123 survey respondents, 28 were from rural areas, 42 were from suburban areas, and 53 were from urban areas.  Thirteen rural respondents, 35 suburban respondents, and 50 urban respondents said they had access to internet at home.

In [107]:
rural <-c(15,13)
surban<-c(7,35)
urban<-c(3,50)

In [124]:
#Set up the two variables
r1<- data.frame(type=rep("rural",15),internet=rep(0,15))
r2<- data.frame(type=rep("rural",13),internet=rep(1,13))
s1<- data.frame(type=rep("surban",7),internet=rep(0,7))
s2<- data.frame(type=rep("surban",35),internet=rep(1,35))
u1<- data.frame(type=rep("urban",3),internet=rep(0,3))
u2<- data.frame(type=rep("urban",50),internet=rep(1,50))

In [129]:
#Combine into one dataframe
df<-rbind(r1,r2,s1,s2,u1,u2)

In [131]:
df_tab<-table(df$type,df$internet)

In [132]:
addmargins(prop.table(df_tab))
margin.table(prop.table(df_tab),1) #From total
margin.table(prop.table(df_tab),2) #From total

addmargins(prop.table(df_tab,1)) #rows
addmargins(prop.table(df_tab,2)) #columns

                  0          1        Sum
  rural  0.12195122 0.10569106 0.22764228
  surban 0.05691057 0.28455285 0.34146341
  urban  0.02439024 0.40650407 0.43089431
  Sum    0.20325203 0.79674797 1.00000000

    rural    surban     urban
0.2276423 0.3414634 0.4308943

       0        1
0.203252 0.796748

                  0          1        Sum
  rural  0.53571429 0.46428571 1.00000000
  surban 0.16666667 0.83333333 1.00000000
  urban  0.05660377 0.94339623 1.00000000
  Sum    0.75898473 2.24101527 3.00000000

                 0         1       Sum
  rural  0.6000000 0.1326531 0.7326531
  surban 0.2800000 0.3571429 0.6371429
  urban  0.1200000 0.5102041 0.6302041
  Sum    1.0000000 1.0000000 2.0000000

What proportion of respondents had internet access at home? (Round to 3 decimal places.) .796748
What proportion of respondents did NOT have internet access at home? (Round to 3 decimal places.) .203252
How many rural residents would we expect to have home internet? Please use a rounded proportion you calculated above. (Round to 2 decimal places.) 22.308943
How many urban residents would we expect NOT to have home internet? Please use a rounded proportion you calculated above. (Round to 2 decimal places.) 10.77236

In [134]:
addmargins(chisq.test(df_tab, correct=FALSE)$expected)

                 0        1 Sum
  rural   5.691057 22.30894  28
  surban  8.536585 33.46341  42
  urban  10.772358 42.22764  53
  Sum    25.000000 98.00000 123

In [136]:
chisq.test(df_tab, correct=FALSE)

	Pearson's Chi-squared test

data:  df_tab
X-squared = 26.4967, df = 2, p-value = 0.000001763