<div class="thetimenow-embeddable-clock" data-type="clock" data-font-color="#000000" data-border-color="#000000" data-background-color="#ffffff" data-font-size="60"></div> 
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script> 
<script type="text/javascript" src="http://www.thetimenow.com/ttn-embed.min.js"></script>

In [3]:
x=1:10
y<-rbind(x,2*x,3*x,4*x,5*x)
y

  [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
x    1    2    3    4    5    6    7    8    9    10
     2    4    6    8   10   12   14   16   18    20
     3    6    9   12   15   18   21   24   27    30
     4    8   12   16   20   24   28   32   36    40
     5   10   15   20   25   30   35   40   45    50

In [4]:
z<-cbind(x,2*x,3*x,4*x,5*x)
z

       x
 [1,]  1  2  3  4  5
 [2,]  2  4  6  8 10
 [3,]  3  6  9 12 15
 [4,]  4  8 12 16 20
 [5,]  5 10 15 20 25
 [6,]  6 12 18 24 30
 [7,]  7 14 21 28 35
 [8,]  8 16 24 32 40
 [9,]  9 18 27 36 45
[10,] 10 20 30 40 50

In [2]:
# Identity Matrix
diag(5)

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    0    0    0    0
[2,]    0    1    0    0    0
[3,]    0    0    1    0    0
[4,]    0    0    0    1    0
[5,]    0    0    0    0    1

###Problems

Load the following two matrices into R:

a <- matrix(1:12, nrow=4)
b <- matrix(1:15, nrow=3)

Note the dimension of 'a' and the dimension of 'b'.

In the question below, we will use the matrix multiplication operator in R, %*%, to multiply these two matrices.

In [69]:
a <- matrix(1:12, nrow=4)
b <- matrix(1:15, nrow=3)

What is the value in the 3rd row and the 2nd column of the matrix product of 'a' and 'b'

In [71]:
d = a %*% b
d

     [,1] [,2] [,3] [,4] [,5]
[1,]   38   83  128  173  218
[2,]   44   98  152  206  260
[3,]   50  113  176  239  302
[4,]   56  128  200  272  344

Multiply the 3rd row of 'a' with the 2nd column of 'b', using the element-wise vector multiplication with *.

What is the sum of the elements in the resulting vector?

In [64]:
sum(a[3,]*b[,2])

[1] 113

Solve the following system of equations using R:

3a + 4b - 5c + d = 10

2a + 2b + 2c - d = 5

a -b + 5c - 5d = 7

5a + d = 4

What is the solution for c:

In [48]:
X  <- matrix(c(3,2,1,5,4,2,-1,0,-5,2,5,0,1,-1,-5,1),4,4)
abcd <-matrix(c(10,5,7,4),4,1)
solve(X)%*%abcd #equivalent to solve(X,b)

           [,1]
[1,]  1.2477876
[2,]  1.0176991
[3,] -0.8849558
[4,] -2.2389381