Import needed libraries.

In [3]:
import graphlab as gl
import numpy as np
print "numpy version: ", np.__version__
import sys
print sys.version
import pylab
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.stats.multicomp as multi 
import graphlab.numpy

gl.canvas.set_target('ipynb') # Print graphlab graphs in line
%matplotlib inline

numpy version:  1.9.2
2.7.10 |Anaconda 2.3.0 (64-bit)| (default, May 28 2015, 16:44:52) [MSC v.1500 64 bit (AMD64)]

Load the data.

In [4]:
data = pd.read_csv('D:/Data/CourseraClass/gapminder.csv')

Review the top of the data.

In [5]:
data.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
0,Afghanistan,,.03,.5696534,26.8,75944000,25.6000003814697,,3.65412162280064,48.673,,0,,6.68438529968262,55.7000007629394,24.04
1,Albania,1914.99655094922,7.29,1.0247361,57.4,223747333.333333,42.0999984741211,,44.9899469578783,76.918,,9,636.341383366604,7.69932985305786,51.4000015258789,46.72
2,Algeria,2231.99333515006,.69,2.306817,23.5,2932108666.66667,31.7000007629394,.1,12.5000733055148,73.131,.42009452521537,2,590.509814347428,4.8487696647644,50.5,65.22
3,Andorra,21943.3398976022,10.17,,,,,,81,,,,,5.36217880249023,,88.92
4,Angola,1381.00426770244,5.57,1.4613288,23.1,248358000,69.4000015258789,2,9.99995388324075,51.093,,-2,172.999227388199,14.5546770095825,75.6999969482422,56.7

Review the bottom of the data.

In [6]:
data.tail()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate
208,Vietnam,722.807558834445,3.91,1.0853671,16.2,1425435000,67.5999984741211,.4,27.8518215557703,75.181,,-7,302.725654656034,11.6533222198486,71,27.84
209,West Bank and Gaza,,,5.9360854,,14241333.3333333,11.3000001907349,,36.4227717919075,72.832,,,,,32,71.9
210,"Yemen, Rep.",610.3573673206,.2,2.3162346,35.1,234864666.666667,20.2999992370605,,12.3497504635596,65.493,,-2,130.05783139719,6.26578903198242,39,30.64
211,Zambia,432.226336974583,3.56,.3413352,13,132025666.666667,53.5,13.5,10.124986462443,49.025,,7,168.623030511023,12.0190362930298,61,35.42
212,Zimbabwe,320.771889948584,4.96,1.0327854,19,590219666.666666,58.0999984741211,14.3,11.5004153209768,51.384,,1,297.883200408304,13.9052667617798,66.8000030517578,37.34

Convert the two fields to numeric

In [7]:
data['suicideper100th'] = data['suicideper100th'].convert_objects(convert_numeric=True)
data['internetuserate'] = data['internetuserate'].convert_objects(convert_numeric=True)

Compute mean and standard deviation for Internet Usage Rate

In [29]:
print (round(data['internetuserate'].mean(),2))
print (round(data['internetuserate'].std(),2))

35.63
27.78

Compute mean and standard deviation for Suicide Rate

In [25]:
print (round(data['suicideper100th'].mean(),2))
print (round(data['suicideper100th'].std(),2))

9.64
6.3

Using ols function for calculating the F-statistic and associated p value

In [30]:
model1=smf.ols(formula='suicideper100th ~ internetuserate', data=data)
results1 = model1.fit()
print (results1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        suicideper100th   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.8303
Date:                Sun, 01 Nov 2015   Prob (F-statistic):              0.363
Time:                        11:52:07   Log-Likelihood:                -575.61
No. Observations:                 177   AIC:                             1155.
Df Residuals:                     175   BIC:                             1162.
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------
Intercept           9.1223      0.749     12.186      0.000         7.645    10.600
internetuserate     0.0157      0.017      0.911      0.363        -0.018     0.050
==============================================================================
Omnibus:                       49.669   Durbin-Watson:                   2.078
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               97.051
Skew:                           1.326   Prob(JB):                     8.43e-22
Kurtosis:                       5.475   Cond. No.                         68.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Model Interpretation for ANOVA:

When examining the association between suicide rate (quantitative response) and internet usage rate, an Analysis of Variance (ANOVA) revealed that suicide rate (Mean=9.64, s.d. ±6.3) was not related to Internet Usage Rate (Mean=35.63, s.d. ±27.78), F(1, 175)=.8303, p>.05.