Create a list of dates using the following command:

set.seed(449)
my.dates<-as.Date(sample(18000:20000,20), origin = "1960-01-01")

When dates are used as explanatory variables in regression analysis, often one needs to transform the dates into numerical values. 

For this, R has the function julian(), which converts the dates into so-called Julian dates, which is the number of days passed since a specific time point.

In [8]:
set.seed(449)
my.dates<-as.Date(sample(18000:20000,20), origin = "1960-01-01")

In [2]:
my.dates

 [1] "2011-01-29" "2012-10-01" "2013-12-21" "2009-10-23" "2010-07-28"
 [6] "2010-03-30" "2011-07-20" "2012-12-04" "2009-12-21" "2012-07-10"
[11] "2010-05-04" "2010-11-15" "2010-01-12" "2012-05-28" "2013-11-06"
[16] "2010-05-30" "2011-09-26" "2012-04-04" "2012-04-05" "2009-12-04"

Use the julian() function to convert my.dates into the corresponding number of days passed since January 1st, 1960. Obviously, you results should be between 18000 and 20000.

Which command could you use to do so?

In [9]:
my.days<-c(julian(my.dates,origin=as.Date("1960-01-01")))

In [10]:
my.days

 [1] 18656 19267 19713 18193 18471 18351 18828 19331 18252 19184 18386 18581
[13] 18274 19141 19668 18412 18896 19087 19088 18235

Create a set of days passed since January 1st, 1960, using the following command:

set.seed(119) 
my.days<-sample(18000:20000,20)

You want to construct a data frame that contains the weekday (ie. Monday, Tuesday,â€¦), day in month, month in year and year, for the dates corresponding to my.days.

In [12]:
set.seed(119) 
my.days<-sample(18000:20000,20)

The weekdays() function can extract the weekdays from the dates. The weekdays will appear in your locale. Thus, they will be expressed in your locale language. Let's say you want to present them in English, but your system locale is not English. First, save the current locale for time objects in old.locale. Then set the locale for time objects to be English. After the programming logic, set the locale for time objects back to the old settings.

You may benefit from installing the chron package and access the month.day.year() function.

Once you've installed and loaded the package chron, you can extract the day, month, and year of the dates using the month.day.year() function.

Which command could you use to do so?

In [14]:
library(chron)

Warning message:
: package 'chron' was built under R version 3.2.5

In [31]:
 my.date.info<-data.frame(Weekday=weekdays(my.dates),my.days.structure)

In [32]:
my.days.structure

$month
 [1]  5 12  7  8  8  7 12  9  6  3  2  7  7  3  5  2  7  1 10  4

$day
 [1] 15  5 22 25  1 18  4 14 10 24  8  3  3 26  1  4 16 20 12  3

$year
 [1] 2009 2009 2012 2014 2010 2012 2012 2011 2012 2013 2011 2009 2012 2014 2009
[16] 2011 2013 2013 2012 2012

You can then create a data frame combining the weekdays extracted using the weekdays() function and the my.days.structure.

Which command could you use to do so?

In [33]:
my.date.info<-data.frame(Weekday=weekdays(my.dates),my.days.structure)

In [34]:
my.date.info

     Weekday month day year
1   Saturday     5  15 2009
2     Monday    12   5 2009
3   Saturday     7  22 2012
4     Friday     8  25 2014
5  Wednesday     8   1 2010
6    Tuesday     7  18 2012
7  Wednesday    12   4 2012
8    Tuesday     9  14 2011
9     Monday     6  10 2012
10   Tuesday     3  24 2013
11   Tuesday     2   8 2011
12    Monday     7   3 2009
13   Tuesday     7   3 2012
14    Monday     3  26 2014
15 Wednesday     5   1 2009
16    Sunday     2   4 2011
17    Monday     7  16 2013
18 Wednesday     1  20 2013
19  Thursday    10  12 2012
20    Friday     4   3 2012